apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: bookstore
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: bookstore
    tier: frontend
  ports:
    - name: http
      port: 80
      targetPort: 8080
