apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: bookstore   
  labels:
    app: mysql
    tier: database
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/data/mysql
